

 .88888.                             dP   dP   dP dP .d88888b   888888ba
d8'   `8b                            88   88   88 88 88.    "'  88    `8b
88     88 88d888b. .d8888b. 88d888b. 88  .8P  .8P 88 `Y88888b. a88aaaa8P'
88     88 88'  `88 88ooood8 88'  `88 88  d8'  d8' 88       `8b  88
Y8.   .8P 88.  .88 88.  ... 88    88 88.d8P8.d8P  88 d8'   .8P  88
 `8888P'  88Y888P' `88888P' dP    dP 8888' Y88'   dP  Y88888P   dP
          88
          dP


                   host:   {{ inventory_hostname }}
                   ip:     {{ ansible_default_ipv4.address }}
